.menu-desktop {
  position: absolute;
  width: 100%;
  top: 50%;
  left: Calc(43% + 50px);
  transform: translate(-0%, -50%);
}

.menu-desktop-content a {
  text-decoration: none;
  color: #232323;
  padding-left: 15px;
}

@media screen and (max-width: 724px) {
  .menu-desktop {
    display: none;
  }
}
