.profile-container {
  width: 100px;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  float: right;
  border-left: 2px solid #f7f7f7;
}

.person {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person svg {
  color: #636363;
  width: 25px;
  height: 25px;
}
