@import url(//db.onlinewebfonts.com/c/780d470af60d85ffcdb175348c370edb?family=FlatSans-Light);

@font-face {
  font-family: "Flat";
  src: url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.eot");
  src: url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/780d470af60d85ffcdb175348c370edb.svg#FlatSans-Light")
      format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}
